# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Packages
*.jar
*.zip
*.gz
*.rar
*.tar
*.7z
*.ipa

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

.flutter-plugins-dependencies

# Ignore location used to store build artifacts in GitLab CI
build-artifacts

# Android stuff. We should not have had to add android related stuff here.
# The issue of having ./gradle folder was caused by opening the project by going to File->false->Import Poject. This causes android studio to create this folder in the root project
# To further avoid this, we need to open a flutter project not import it

gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
android/key.properties
.settings/org.eclipse.buildship.core.prefs
/.project
android/.project
android/app/.project

# Fastlane 
android/fastlane/report.xml
/ios/build/*
pubspec.lock~develop
android/settings_aar.gradle
lib/generated_plugin_registrant.dart
temp/*.lock
temp/*.hive
test/temp/*.lock
test/temp/*.hive
test/repository_test.mocks.dart

#fvm
.fvm/flutter_sdk
